<div class="page-header">
  <h1>Tutu <small>Учебный проект в онлайн-школе Thinknetica</small></h1>
</div>
<p><%= link_to 'Купить билет', search_path, class: "search-ticket-button", role: "button" %></p>
