<ul>
    <li><%= "Верхние места: #{@railcar.top_seats}" %></li>
    <li><%= "Нижние места: #{@railcar.bottom_seats}" %></li>
    <li><%= "Боковые верхние места: #{@railcar.side_top_seats}" %></li>
	<li><%= "Боковые нижние места: #{@railcar.side_bottom_seats}" %></li>
</ul>