<tr>
    <td><%= railcar.category %></td>
    <td><%= link_to 'Show', railcar %></td>
    <td><%= link_to 'Edit', edit_railcar_path(railcar) %></td>
    <td><%= link_to 'Destroy', railcar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>