<tr>
    <td><%= railcar.type %></td>
    <td><%= link_to 'Показать', railcar %></td>
    <td><%= link_to 'Редактировать', edit_railcar_path(railcar) %></td>
    <td><%= link_to 'Удалить', railcar, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>