<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
    <% if @train.route %>
        <%= "Маршрут поезда: #{@train.route.name}" %>
    <% else %>
        Маршрут не назначен
    <% end %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
