<h3>Привет, <%= @user.first_name %>!</h3>
<p>Вы купили билет по маршруту "<%= @ticket.route_name %>"</p> 
<p>Посмотреть его можно <%= link_to 'здесь', @ticket %></p>
<p>Посмотреть все купленные билеты можно <%= link_to 'здесь', tickets_url %></p>