<div class="page-header">
  <h1>Tutu! <small>Управление ресурсами</small></h1>
</div>

<%= link_to 'Станции', admin_railway_stations_path, class: "btn btn-primary" %>
<%= link_to 'Поезда', admin_trains_path, class: "btn btn-primary" %>
<%= link_to 'Маршруты', admin_routes_path, class: "btn btn-primary" %>
<%= link_to 'Билеты', admin_tickets_path, class: "btn btn-primary" %>